nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding: 0.3rem;
    transition: all 0.3s ease;

    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
