// Colors
$off-black: rgb(54, 54, 54);
$off-white: #d6d6d6;
$off-gray: rgba(155, 155, 155, 0.5);
$gray: rgb(100, 100, 100);
$light-gray: rgb(222, 222, 222);
$very-light-gray: rgb(204, 204, 204);

$breakpoint: 768px;
